<h1>YOOOOOO!</h1>
	<div class="col-md-6">
		<%= image_tag @barber.avatar.url(:large) %>
		<%= @barber.first_name %> is ready to cut hair!
		<%= link_to "Want a haircut?", new_haircut_path %>
	</div>





<%#= link_to "Want a haircut?", fullcalendar_engine_path, class: 'btn btn-primary btn-lg' %></a></p>